.modal-certificate {
    width: 70rem !important;
}
.border-black {
    border: 1px solid black;
}
.margin-top {
    margin-top: 10px;
}
.alert-danger-select2 {
    border: 1px solid red !important;
}

.has-error .select2-selection {
    border-color: #ec5548 !important;
}

.dropdown-item:hover {
    cursor: pointer;
}

.event-background{
    /*background-color: #0073e6;*/
    background: url("../img/clock.jpg");
    background-position: center;
    background-size: cover;
    
    height: auto;
    width: 100%;

}
.be-left-sidebar{
    background-color: #00264d;
}

.pull-right{
    float:right;
}